<mat-accordion *ngIf="category.sublevels; else noSublevels">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="block-pointer-events">
      <mat-panel-title>
        <mat-checkbox (change)="changeCheckbox($event, category)" class="active-pointer-events">
          {{ category.name }}
        </mat-checkbox>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-filter-item
      *ngFor="let subcategory of category.sublevels"
      [category]="subcategory"
      (filterByCategoryId)="sendFilterToParent($event)"
    ></app-filter-item>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #noSublevels>
  <mat-checkbox color="primary" (change)="changeCheckbox($event, category)">
    {{ category.name }}
  </mat-checkbox>
  <br />
</ng-template>
