<div class="hero">
  <div class="hero__image">
    <img src="assets/images/hero-bg.png" alt="Tiendas el Baratón products" />
  </div>
  <h1 class="hero__title">
    Tiendas <small class="hero__small">e-Baratón</small>
  </h1>
  <div class="hero__text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi deleniti
      distinctio enim? Officiis doloremque libero nisi tempora, hic quisquam
      quia modi praesentium illum culpa ullam saepe, alias minus consectetur
      dolore.
    </p>
  </div>
  <button
    class="hero__button"
    routerLink="/products"
    mat-raised-button
    color="primary"
  >
    Go to Products
  </button>
</div>
