.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  font-size: 28px;
  text-transform: uppercase;
}

.active {
  color: white;
}

.navbar {
  display: flex;
}

.navbar-item {
  padding: 16px;
  text-transform: uppercase;
}
