<mat-toolbar class="header" role="heading">
  <a routerLink="/landing">
    <h2 class="header__brand">e-Baratón</h2>
  </a>
  <button
    class="header__button"
    mat-icon-button
    aria-label="Header menu button"
    (click)="toggleMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <nav class="navbar" role="navigation" #menu>
    <a
      class="navbar-item"
      routerLink="/landing"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      Inicio
    </a>
    <a
      class="navbar-item"
      routerLink="/products"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      Products
    </a>
    <a
      class="navbar-item"
      routerLink="/shopping-cart"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      Shopping Cart
    </a>
  </nav>
</mat-toolbar>
