<mat-toolbar class="header" role="heading" color="accent">
  <a routerLink="/landing">
    <img class="header__brand" src="assets/images/brand.jpeg" alt="Brand" />
  </a>
  <nav class="navbar" role="navigation">
    <a class="navbar-item" routerLink="/landing" routerLinkActive="active">
      Inicio
    </a>
    <a class="navbar-item" routerLink="/products" routerLinkActive="active">
      Products
    </a>
    <a
      class="navbar-item"
      routerLink="/shopping-cart"
      routerLinkActive="active"
    >
      Shopping Cart
    </a>
  </nav>
</mat-toolbar>
