<mat-sidenav-container>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <form [formGroup]="searchFrom">
      <mat-form-field class="filter-item">
        <input
          matInput
          placeholder="Search"
          formControlName="search"
          autocomplete="off"
        />
      </mat-form-field>
      <ng-container *ngIf="categories">
        <app-filter-item
          *ngFor="let category of categories"
          [category]="category"
        ></app-filter-item>
      </ng-container>
      <div class="filter-item">
        <p>Prices smaller than</p>
        <mat-slider
          thumbLabel
          color="primary"
          [displayWith]="formatPriceLabel"
          tickInterval="1000"
          [min]="minPrice"
          [max]="maxPrice"
          (input)="filterByPrices($event.value)"
        ></mat-slider>
      </div>
      <div class="filter-item">
        <p>Quantities greater than</p>
        <mat-slider
          color="primary"
          thumbLabel
          [displayWith]="formatQuantityLabel"
          tickInterval="100"
          [min]="minQuantity"
          [max]="maxQuantity"
          (input)="filterByQuantities($event.value)"
        ></mat-slider>
      </div>
      <mat-form-field class="filter-item">
        <mat-label>Filter by</mat-label>
        <mat-select (selectionChange)="filterBy($event.value)">
          <mat-option *ngFor="let option of filterByOptions" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">filter_list</mat-icon>
      Filters
    </button>
    <div class="grid__header">
      <h2>Products</h2>
      <mat-form-field>
        <mat-label>Sort by</mat-label>
        <mat-select (selectionChange)="sortBy($event.value)">
          <mat-option *ngFor="let option of sortByOptions" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid">
      <mat-spinner color="primary" *ngIf="loading"></mat-spinner>
      <app-product-item
        *ngFor="let product of products | search: query"
        class="grid__item"
        [product]="product"
        (productToAdd)="addToShoppingCart($event)"
      ></app-product-item>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
