mat-sidenav {
  width: 250px;
  max-height: calc(100vh - 64px);
  position: absolute;
}

.filter-item {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 10px 0;

  .mat-slider {
    width: 100%;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 64px);
}

.grid__header {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .mat-form-field {
    flex: 0 1 auto;
  }
}

.grid__item {
  flex: 1 1 100%;
  padding: 20px;
}

@media screen and (min-width: 480px) {
  .grid__item {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 768px) {
  .grid__item {
    flex-basis: 33.33%;
  }
}

@media screen and (min-width: 1024px) {
  .grid__item {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 1180px) {
  .grid__item {
    flex-basis: 20%;
  }
}
