@import '~src/scss/variables';

.mat-card {
  min-height: 197px;
  text-align: center;
}

.mat-card-header {
  text-transform: uppercase;
  justify-content: center;
}

.card__price {
  color: $c-brand;
  font-weight: bold;
  font-size: 24px;
}

.card__categoy {
  color: $c-black;
  font-size: 10px;
}
