// Colors
$c-light-text: #6d6d6d;
$c-text: #424242;
$c-dark-text: #1b1b1b;
$c-neutro: #ffffff;
$c-brand: #3f51b5;

// Fonts
$f-primary: 'Lato', sans-serif;
$f-secondary: 'Oswald', sans-serif;
$f-brand: 'Amatic SC', cursive;
