<footer class="footer">
  <div class="footer__row">
    <div class="footer__column">
      <h4>About Tiendas El Baratón</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id amet rem
        beatae delectus eius deleniti earum harum quae commodi nihil vel
        deserunt cumque cum, nisi, quam, molestiae laborum exercitationem. Eum.
      </p>
    </div>
    <div class="footer__column">
      <h4>Site link</h4>
      <ul>
        <li class="footer__link"><a routerLink="/landing">About us</a></li>
        <li class="footer__link"><a routerLink="/landing">Contact us</a></li>
        <li class="footer__link">
          <a routerLink="/landing">Privacy Policy</a>
        </li>
        <li class="footer__link">
          <a routerLink="/landing">Terms of services</a>
        </li>
      </ul>
    </div>
    <div class="footer__column">
      <h4>Our Sites</h4>
      <ul>
        <li class="footer__link">
          <a routerLink="/landing">El Baratón Bogotá</a>
        </li>
        <li class="footer__link">
          <a routerLink="/landing">El Baratón Cali</a>
        </li>
        <li class="footer__link">
          <a routerLink="/landing">El Baratón Medellín</a>
        </li>
        <li class="footer__link">
          <a routerLink="/landing">El Baratón Barranquilla</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__row">
    <span
      >Code by
      <a
        class="footer__link"
        href="https://suga0828.github.io/suga0828"
        target="_blank"
        >suga0828</a
      ></span
    >
  </div>
</footer>
